.badge {
  padding: 7px 15px;
  border-radius: 100px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.badge_green {
  background: #3dc67d;
}

.badge_gray {
  background: #99a4b7;
}

.badge_magenta {
  background: #b555a7;
}

.badge_yellow {
  background: #e3bc6d;
}

.badge_brown {
  background: #b58f7b;
}

.badge_cyan {
  background: #50bad5;
}

.badge_dark {
  background: #476aed;
}

.badge_red {
  background: #ff6752;
}
