.dashboard {
  background: #fff;
}

.dashboard__table {
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
}

.dashboard__row {
  display: table-row;
}

.dashboard__cell {
  display: table-cell;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard__value {
  margin: 0 0 13px;
  font-family: 'Oswald';
  font-size: 32px;
}

.dashboard__title {
  color: @gray;
}
