.table-wrapper {
  margin: 0 -20px;
}

.table__sort-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.table_rounted-bottom-corner {
  tbody {
    tr {
      &:last-child {
        td {
          &:first-child {
            border-radius: 0 0 0 10px;
          }

          &:last-child {
            border-radius: 0 0 10px 0;
          }
        }
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  color: @gray;
  fill: @gray;
}

tbody {
  tr {
    &:nth-child(odd) {
      td {
        background: #fbfbfb;
      }
    }

    &:hover {
      td {
        background: rgba(0,0,0,0.05);
      }
    }
  }
}

td {
  padding: 16px;
}
