.table-wrapper {
  margin: 0 -60px;

  @media (max-width: 767px) {
    margin: 0 -20px;
  }
}

.table-wrapper__empty-message {
  position: relative;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @gray;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__head {
  color: @gray;
  fill: @gray;

  .table__cell {
    position: sticky;
    top: 86px;
    background: @white;
  }
}

.table__body {
  .table__row {
    &:nth-child(odd) {
      .table__cell {
        background: #fbfbfb;
      }
    }

    &:hover {
      .table__cell {
        background: rgba(0,0,0,0.05);
      }
    }
  }
}

.table__cell {
  font-weight: normal;
  padding: 16px 10px;
  text-align: left;

  &:first-child {
    padding-left: 60px;

    @media (max-width: 767px) {
      padding-left: 20px;
    }
  }

  &:last-child {
    padding-right: 60px;

    @media (max-width: 767px) {
      padding-right: 20px;
    }
  }
}

.table_responsive {
  .table__head {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .table, .table__body, .table__row, .table__cell {
    @media (max-width: 767px) {
      display: block;
    }
  }

  .table__body {
    .table__row {
      &:nth-child(odd) {
        @media (max-width: 767px) {
          background: @lightgray;
        }

        .table__cell {
          @media (max-width: 767px) {
            background: transparent;
          }
        }
      }

      &:hover {
        .table__cell {
          @media (max-width: 767px) {
            background: transparent;
          }
        }
      }
    }
  }

  .table__row {
    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }

  .table__cell {
    @media (max-width: 767px) {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      border-bottom: 1px solid rgba(0,0,0,0.05);

      &:before {
        content: attr(data-title);
        flex: 1 1 auto;
        color: @gray;
      }
    }

    &:last-child {
      @media (max-width: 767px) {
        border-bottom: none;
      }
    }
  }
}

.table_rounted-bottom-corners {
  .table__row {
    &:last-child {
      .table__cell {
        &:first-child {
          border-radius: 0 0 0 10px;
        }

        &:last-child {
          border-radius: 0 0 10px 0;
        }
      }
    }
  }
}

.table_accounts {
  .table__cell_amount,
  .table__cell_index,
  .table__cell_emission {
    @media (min-width: 768px) {
      width: 20%;
      text-align: right;
    }
  }

  .table__cell_id {
    @media (min-width: 768px) {
      width: 10%;
    }
  }
}

.table_key-val {
  .table__cell_key {
    color: @gray;
  }

  .table__cell_value {
    text-align: right;
  }
}

.table_recent-activity {
  .table__cell_operation,
  .table__cell_timestamp,
  .table__cell_block {
    @media (min-width: 768px) {
      width: 20%;
    }
  }

  .table__cell_type {
    @media (min-width: 768px) {
      width: 40%;
      text-align: right;
    }
  }
}

.table_transactions {
  .table__cell_expiration,
  .table__cell_ref-block-num {
    @media (min-width: 768px) {
      width: 20%;
    }
  }

  .table__cell_type {
    @media (min-width: 768px) {
      text-align: right;
    }
  }
}

.table_block-information {
  .table__cell_value {
    width: 70%;
  }
}
